@font-face
  font-family: 'eb-garamond-regular'
  src: url('EBGaramond12-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

html
  background: white 

body
  font-family: 'eb-garamond-regular'

.navbar
  background-color: #fff
  .navbar-brand
    .logo
      margin-left: 1rem
      width: 167px
      svg
        width: 167px

.content
  color: #555151
  margin-top: 0
  h1
    font-size: 1.8rem
    font-weight: inherit
  h2
    font-size: 1.6rem
  a
    color: #b50290
    &hover
      color: #ff64e0
  .quote-reference
    float: right
    margin-right: 2rem    
  .grid
    .column
      &.a-propos
        background: #bb9b96
      &.personne
        background: #efbc00
      &.rue
        background: #bd03af
      &.evenement
        background: #127d1b
      &.livre
        background: #30849b
      &.peinture
        background: #aa6b8d
      &.chanson
        background: #4d4348
      &.jardin
        background: #a8451f
      figure
        .image
          height: 12rem
        figcaption
          background: inherit
          font-size: 1.4rem

.CodeMirror
  font-family: 'eb-garamond-regular'
  font-size: 1.2rem

.necklace
  .tag
    font-size: 1.1rem

.button.is-primary
  background-color: #c4c4c4 

.tag:not(body).is-primary
  background-color: #404066

.tag:not(body).is-link
  background-color: #404066

@media screen and (min-width: 768px)

  html
    background: whitesmoke

  .navbar
    .navbar-brand
      .logo
        width: 217px
        svg
          width: 217px
  .content
    font-size: 1.3rem
    ul
      margin-left: 2rem
    .title.is-2
      font-size: 1.6rem
 
