@font-face {
  font-family: 'eb-garamond-regular';
  src: url("EBGaramond12-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  background: #fff;
}
body {
  font-family: 'eb-garamond-regular';
}
.navbar {
  background-color: #fff;
}
.navbar .navbar-brand .logo {
  margin-left: 1rem;
  width: 167px;
}
.navbar .navbar-brand .logo svg {
  width: 167px;
}
.content {
  color: #555151;
  margin-top: 0;
}
.content h1 {
  font-size: 1.8rem;
  font-weight: inherit;
}
.content h2 {
  font-size: 1.6rem;
}
.content a {
  color: #b50290;
}
.content ahover {
  color: #ff64e0;
}
.content .quote-reference {
  float: right;
  margin-right: 2rem;
}
.content .grid .column.a-propos {
  background: #bb9b96;
}
.content .grid .column.personne {
  background: #efbc00;
}
.content .grid .column.rue {
  background: #bd03af;
}
.content .grid .column.evenement {
  background: #127d1b;
}
.content .grid .column.livre {
  background: #30849b;
}
.content .grid .column.peinture {
  background: #aa6b8d;
}
.content .grid .column.chanson {
  background: #4d4348;
}
.content .grid .column.jardin {
  background: #a8451f;
}
.content .grid .column figure .image {
  height: 12rem;
}
.content .grid .column figure figcaption {
  background: inherit;
  font-size: 1.4rem;
}
.CodeMirror {
  font-family: 'eb-garamond-regular';
  font-size: 1.2rem;
}
.necklace .tag {
  font-size: 1.1rem;
}
.button.is-primary {
  background-color: #c4c4c4;
}
.tag:not(body).is-primary {
  background-color: #404066;
}
.tag:not(body).is-link {
  background-color: #404066;
}
@media screen and (min-width: 768px) {
  html {
    background: #f5f5f5;
  }
  .navbar .navbar-brand .logo {
    width: 217px;
  }
  .navbar .navbar-brand .logo svg {
    width: 217px;
  }
  .content {
    font-size: 1.3rem;
  }
  .content ul {
    margin-left: 2rem;
  }
  .content .title.is-2 {
    font-size: 1.6rem;
  }
}
